
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F0F0EF;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
    
.password-button-wrap{
    font-family: 'Roboto';
    font-style: semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.password-form{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    @apply w-[421px] h-[385px]
}
.password-title{
    font-style: semibold;
    @apply w-[421px] h-[115px] pt-8 text-center  text-2xl text-[#FFFFFF]  rounded-t-lg  bg-[#294F83] 	leading-7	font-medium
}
.password-heading{
    font-style: Medium; 
    @apply pt-2 text-sm	leading-4	font-normal	text-[#FFFFFFCC]
}

.password-form-wrapper{
     position: relative;
    }
.first-field-wrap{
    @apply  grid justify-items-center pt-8
}
.first-field{
    @apply  leading-5	tracking-[0.5px] w-[340px] h-[45px] text-sm	 border-[#0000004D] rounded  flex items-center pl-4 mb-6
}
.second-field-wrap{
    @apply  grid justify-items-center
}
.second-field{
    @apply   leading-5	tracking-[0.5px] w-[340px] h-[45px] text-sm	 border-[#0000004D] rounded  flex items-center pl-4  mb-10
}
.password-forgot_submit{
    @apply w-[340px] h-[45px] text-lg rounded font-semibold	 leading-5 bg-[#16ABE5]	text-[#FFFFFF]
}
input:focus{
        outline: none;
}
    
