body{
    background-color: #F0F0EF;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.select-wrap{
    position: relative;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    color: rgba(0, 0, 0, 0.5);
}
