
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.select-wrap{
    position: relative;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    color: rgba(0, 0, 0, 0.5);
}
input, select{
    background-color: transparent;
}
input[type=file] {
    color: transparent !important;
    outline: none;
}
input::file-selector-button {
    background-color: transparent;
  border: none;
  color: #FFFFFF;
   display: none;
}
::-webkit-datetime-edit-text {
    opacity:0;
  }