
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F0F0EF;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.auth-form-login{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    
}
.heading{
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    vertical-align: top;
    font-weight: 500;
}
button{
    background-color: #16ABE5;
}

.form-wrapper{
     position: relative;
     @apply grid justify-items-center
    }

.login-button-wrap{
    font-family: 'Roboto';
    font-style: semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
}
input:focus{
    outline: none;
}
/* input:focus ::input-wrap{
    border-color: rgba(22, 171, 229, 1);
} */
.icon-wrap{
    position: absolute;
    top: 12px;
    left: 340px;
}
.subheading{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto';
    font-style: medium;
    font-size: 16px;
    line-height: 14px;
    vertical-align: top;
    font-weight: 500;
}
form{
    @apply rounded-[10px]
}
.login-form{
    @apply w-[421.21px] h-[466.18px] bg-white rounded-lg  
}
.login-title{
    font-style: semibold;
   @apply w-[421.21px] h-[115px] text-6xl	flex justify-center items-center font-extrabold bg-[#294F83] text-[#FFFFFF] rounded-t-lg leading-[70px]
}
.login-subtitle{
   @apply pt-6 pb-8 text-xl font-medium	leading-[23.44px] text-[#00000099] align-top  text-center 
}
.login-first-field{
    @apply leading-5	tracking-[0.5px] w-[340px] h-[45px] text-sm	 border-[#0000004D] rounded  flex items-center pl-4 mb-6
}
.login-second-field{
    @apply leading-5	tracking-[0.5px] w-[340px] h-[45px] text-sm	 border-[#0000004D] rounded  flex items-center pl-4 mb-10
}
.login-button{
    @apply w-[340px] h-[45px] text-base	leading-5	font-semibold	bg-[#16ABE5] 	text-[#FFFFFF] rounded
}
.login-button-subtitle{
    @apply pt-6 pb-8 text-[#00000099] text-sm text-right leading-[16.41px] font-medium	pr-10
}