.user-form{
  @apply  w-[847.57px] h-[665.03px] bg-white rounded-lg mt-10 ml-10 
}
form{
  @apply rounded-[10px]
}
.user-title{
  @apply text-xl	leading-[23px]	 mb-8 w-[847.57px] h-[60px] 	flex justify-start pl-10 items-center font-extrabold
  bg-[#A9B9CD] text-[#000000CC] rounded-t-lg font-medium
}
.user-label{
  @apply text-sm text-[#000000CC] leading-[16.41px] font-normal	text-left  mt-8 pl-1
}
.user-label-left{
  @apply  text-sm text-[#000000CC] leading-[16.41px] font-normal	text-left  mt-8 pl-3
}
.user-newlabel{
  @apply text-sm text-[#000000CC] leading-[16.41px] font-normal	text-left  mt-8 pl-1
}
.user-input-field{
  @apply  w-[348.33px] h-[44px] border-[#0000004D] bg-[#F0F0EF] rounded flex items-center pl-4 mb-6
}
.user-select-field{
  @apply w-[348.33px] h-[44px] border-[#0000004D] bg-[#F0F0EF] rounded flex items-center pl-3 mb-6
}
.user-select-text{
  @apply  w-[320px] text-xs 
}
.user-form-wrapper{
  @apply  ml-7 
}
.left-form-wrapper{
  @apply   ml-2 
}
.user-input-text{
  padding-left: 0px !important;
  @apply   text-xs text-[#00000080] 
}
.user-button-wrap{
  @apply  flex justify-end mr-[40px] mt-6
}
.line{
  @apply flex  justify-center mt-2
}
.image-wrap{
  @apply  ml-10
}
.User-Photo{
  @apply  mb-2 text-sm leading-5 font-normal text-[#000000CC]
}
.image{
  @apply  mb-2
}
.Change-Image{
  @apply mb-3 bg-[#16ABE5] w-[109px] h-[30px] rounded pt-1
}
.Change-Image-label{
  @apply text-sm leading-5 font-normal text-white pl-2 
}
.Upload{
  @apply  mb-3 bg-[#16ABE5] w-[109px] h-[30px] rounded pt-1
}
.Upload-text{
  @apply   text-sm leading-5 font-normal text-white pl-2 
}
.Upload-subtext{
  @apply mb-6 text-xs leading-[14px] font-normal text-[#999999] 
}
.close-button{
  @apply w-[119px] h-[38px] bg-[#00000033] flex items-center mr-4 rounded
}
.close-button-text{
  @apply  text-sm ml-10  font-medium text-black
}
.submit-button{
  @apply  w-[119px] h-[38px] text-sm rounded font-medium text-white bg-[#16ABE5]
}
.main-wrapper{
  @apply flex  justify-around
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.select-wrap{
    position: relative;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    color: rgba(0, 0, 0, 0.5);
}
input, select{
    background-color: transparent;
}
input[type=file] {
    color: transparent !important;
    outline: none;
}
input::file-selector-button {
    background-color: transparent;
  border: none;
  color: #FFFFFF;
   display: none;
}
::-webkit-datetime-edit-text {
    opacity:0;
  }
 
input[type="date"] {
    position: relative;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f107';
    font-weight: 900;
    /* This is the calendar icon in FontAwesome */
    width: 15px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 6px;
    color: #00000080;
  }