
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.auth-form-login{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    
}
.heading{
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    vertical-align: top;
    font-weight: 500;
}
button{
    background-color: #16ABE5;
}
form{
    border-radius: 10px;
}
.logo{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(41, 79, 131, 1);
    font-family: 'Roboto';
    font-style: semibold;
    font-size: 60px;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 10px 10px 0 0;
}
.form-wrapper{
     position: relative;
    }

.button-wrap{
    font-family: 'Roboto';
    font-style: semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.input-wrap{
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
}
input:focus{
    outline: none;
}
/* input:focus ::input-wrap{
    border-color: rgba(22, 171, 229, 1);
} */
.icon-wrap{
    position: absolute;
    top: 12px;
    left: 340px;
}
.subheading{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto';
    font-style: medium;
    font-size: 16px;
    line-height: 14px;
    vertical-align: top;
    font-weight: 500;
}