
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F0F0EF;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.heading{
    font-style: Medium;
}

.form-wrapper{
     position: relative;
    }

input:focus{
        outline: none;
}
    
